/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');

/* #region Gallery */
.gallery {
  max-width: 1128px;
  padding: 24px 0;
  margin: 0 auto;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}

.gallery-item {
  list-style: none;
  flex: 1 1 300px;
  max-width: 360px;
}

.gallery-image {
  width: 100%;
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery-image:hover {
  transform: scale(1.05);
}
/* #endregion Gallery */

/* #region Feedback */

/* Основний контейнер сторінки */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 60px 0;
  background-color: #f5f5f5;
}

/* Форма */
.feedback-form {
  display: flex;
  flex-direction: column;
  align-items: center; /* центруємо форму */
  gap: 24px;
  width: 408px;
  padding: 24px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08);
}

/* Лейбл */
.feedback-form label {
  display: flex;
  flex-direction: column;
  align-items: center; /* поле по центру форми */
  gap: 8px;
  width: 100%;
  font-size: 14px;
  color: #2e2f42;
}

/* Текст лейбла */
.feedback-form .label-text {
  /* font: 400 16px / 1.5 'Montserrat', sans-serif;
  letter-spacing: 0.04em;
  color: #2e2f42; */

  align-self: flex-start; /* текст Email/Message ліворуч */
  text-align: left;
}

/* Поля вводу */
.feedback-form input,
.feedback-form textarea {
  display: block;
  width: 100%;
  max-width: 360px;
  margin: 0 auto; /* по центру форми */
  padding: 10px 14px;
  border: 1px solid #808080;
  border-radius: 4px;
  font-size: 14px;
  font-family: inherit;
  outline: none;
  resize: none;
  text-align: left;
}

/* hover */
.feedback-form input:hover,
.feedback-form textarea:hover {
  border-color: #000;
}

/* focus */
.feedback-form input:focus,
.feedback-form textarea:focus {
  border-color: #808080;
}

/* Кнопка */
.feedback-form button {
  align-self: flex-start; /* кнопка зліва */
  width: 95px;
  height: 40px;
  padding: 8px 16px;
  background: #4e75ff;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;

  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.04em;
}

/* hover кнопки */
.feedback-form button:hover {
  background: #6c8cff;
}

/* #endregion Feedback */
